.bannerSection {
  box-sizing: border-box;
  width: 20rem;
  height: 18.375rem;
  position: sticky;
  top: 100px;
  display: flex;
}

.bannerSection-gradient {
  position: absolute;
  z-index: -100;
  width: 100%;
  height: 100%;
  background: var(--radial-background);
  opacity: 0.08;
  border-radius: 1rem;
}

.bannerSection-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem 1.8rem;
}

.containerStickyBanner--headline {
  margin: 0;
  font-family: Avenir Next;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 117%;
  letter-spacing: -0.005em;
  color: rgba(36, 5, 72, 1);
}

.email {
  height: 3rem;
  background: #ffffff;
  border-radius: 200px;
  display: flex;
  justify-content: space-between;
}

.email--input {
  border: none;
  background: #ffffff;
  border-radius: 200px;
  padding-left: 1.5rem;
  flex-grow: 1;
}

.email--input::placeholder {
  height: 100%;
  border: none;
  font-family: Avenir Next;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 175%;
  letter-spacing: 0.01em;
  color: rgba(211, 211, 211, 1);
}

.email--input:focus {
  outline: none;
}

button {
  border: 1px solid #6d4ad3;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background: #6d4ad3;
  color: white;
  padding-left: 0.8rem;
}

button:focus {
  opacity: 0.9;
}
